@import "styles/mixins";

.logo {
  &-container {
    @include absCenter;
  }

  &-spin {
    img {
      animation: spinLogo 20s linear;
    }
  }
}

@keyframes spinLogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
